[submodule "proandsysdte14"]
	path = proandsysdte14
	url = https://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:x-oauth-basic@github.com/odooconsultores/proandsysdte14
[submodule "terceros14"]
	path = terceros14
	url = https://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:x-oauth-basic@github.com/odooconsultores/terceros14
